<% layout('layouts/boilerplate') %>

<body>
 <div class="row">
  <div class="col-8 offset-2">
    <br><br>
    <h2>Create a New Listings</h2>
    <form method="POST" action="/listings/new" novalidate class="needs-validation" enctype="multipart/form-data">

       <div class="mb-3">
         <label for="title" class="form-label">Title</label>
          <input placeholder="Enter title" name="listing[title]"   type="text" class="form-control " required >
           <div class="valid-feedback">
              Looks good!
           </div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required ></textarea>
            <div class="invalid-feedback">
              Please enter a short description!
           </div>
        </div>

        <div class="mb-3 " >
            <label for="image" class="form-label">Upload Image Files</label>
            <input name="listing[image]" type="file" class="form-control"  required>
        </div>

         <!-- <div class="row">
        <select id="categorySelect">
           <option value="">All Categories</option>
           <option value="mountains">Mountains</option>
           <option value="iconic-city">Iconic City</option>
           <option value="rooms">Rooms</option>
           <option value="castles">Castles</option>
           <option value="pools">Pools</option>
           <option value="camps">Camps</option>
           <option value="farms">Farms</option>
           <option value="arctic">Arctic</option>
       </select>
       </div>
         -->
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input placeholder="Enter price" name="listing[price]" class="form-control"  required >
            <div class="invalid-feedback">
                Price should be vaild.
            </div>
        </div>
        
       
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input placeholder="Enter country" name="listing[country]" type="text" class="form-control" required>
            <div class="invalid-feedback">
                Country name should be vaild.
            </div>
        </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input placeholder="Enter location " name="listing[location]" type="text" class="form-control" required>
             <div class="invalid-feedback">
                Location should be vaild.
            </div>
        </div>
        
        
        <button class="add-btn btn-dark">Add</button>
        <br><br>
    </form>
   </div>
  </div>
</body>

